body {
    padding: 0;
    text-align: center;
}

#game-start {
    padding: 20px 0px;
}

#game-container {
    display: flex;
    width: 100vw;
    height: 100vh; 
    padding: 20px 0px;
    justify-content: center;
    background-color: darkgray;
}

#game-screen {
    display: none;
    background-color: aqua;
}

#game-end {
    display: none;
}